.hero-section{
	height: 60vh;
	background-image: url("../img/balls.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}
.title{
	font-size: 4em;
	text-align: center;
	background-color: white;
	color: black;
}

.h2_1{
	font-size: 2em;
}
.history{
	font-size: 1.75em;
}

.passpic{
	height: 60vh;
}

.h2_2{
	font-size: 2em;
}
.skills{
	font-size: 1.75em;
}
.setpic{
	height: 60vh;
}

.hitpic{
	width: 90%;
}
.h2_3{
	font-size: 2em;
}
.positions{
	font-size: 1.75em;
}