.hero-section{
	height: 60vh;
	background-image: url("../img/balls.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}

body{
	background-image: linear-gradient(to right, #FDFD96);
	font-family: "Times New Roman", Times, serif!important;
}
.title{
	font-size: 4em;
	text-align: center;
	background-color: white;
	color: #000033;
}

.h2_1{
	font-size: 2em;
	color: #000033;
}
.history{
	font-size: 1.75em;
	color: #000033
}

.passpic{
	border: 1em white;
	height: 60vh;
}

.h2_2{
	font-size: 2em;
	color: #000033
}
.skills{
	font-size: 1.75em;
	color: #000033
}
.setpic{
	height: 60vh;
}


}
.h2_3{
	font-size: 2em;
	color: #000033
}
.positions{
	font-size: 1.7em;
	color: #000033
}
.hitpic{
	width: 100%;